

    h1 {
        font-size: 20px;
        background-color: black;
        color: white;
        font-weight: bold;
        text-align: center;
        text-decoration-line:underline ;
        /* text-shadow: black; */
        /* padding-bottom: 10px; */
        /* padding-top: 10px; */
        padding: 10px 0 10px 0;
    }
img{
border: 1px solid black;
width: 200px;
height: 150px;
}